@page "/Facturadora/{Id:int}"
@using EM.Data
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@inject  ApplicationDbContext DbContext
<RadzenRow AlignItems="AlignItems.Center">
    <RadzenButton Click=GoBack Icon="keyboard_backspace" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Base"/>
    <h4>@_factura.Descripcion</h4>
</RadzenRow>
<br/>
<RadzenCard>
    <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween"
                 Style="height: 100%;">
        <RadzenStack>
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6" class="rz-p-4 rz-border-radius-1"
                              Style="border: var(--rz-grid-cell-border)">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenGravatar Email="_atleta?.Persona.FullName"></RadzenGravatar>
                        <RadzenStack Gap="0" class="rz-text-truncate">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0"
                                        Style="color: var(--rz-text-tertiary-color);">Factura
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate">
                                <b>@(_factura.Id)</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0"
                                        Style="color: var(--rz-text-tertiary-color);">Monto
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate">
                                <b>@_factura.Monto</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0"
                                        Style="color: var(--rz-text-tertiary-color);">Restanta
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate">
                                <b>@(_factura.Resto)</b></RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6" class="rz-p-4 rz-border-radius-1"
                              Style="border: var(--rz-grid-cell-border)">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenStack Gap="0" class="rz-text-truncate">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0"
                                        Style="color: var(--rz-text-tertiary-color);">Fecha de factura
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate">
                                <b>@(_factura.FechaRegistro.ToLongDateString())</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-4 rz-mb-0"
                                        Style="color: var(--rz-text-tertiary-color);">Hora de la factura
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate">
                                <b>@_factura.FechaRegistro.ToShortTimeString()</b>
                                </RadzenText>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

@code {
    [Parameter] public int Id { get; set; }
    
    FacturasAtletas? _factura = new FacturasAtletas();

    protected override async Task OnInitializedAsync()
    {
        _factura = await DbContext.FacturasAtletas
            .Include(a=> a.Atleta)
            .ThenInclude(a=> a.Persona)
            .FirstOrDefaultAsync(a=> a.Id == Id);
    }
    
    private void GoBack()
    {
        NavigationManager.NavigateTo($"atletas/Detalles/{_factura.IdAtleta}");
    }
}